{
  "extends": ["google", "prettier"],
  "plugins": ["import", "prettier"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "rules": {
    "prettier/prettier": "error",
    "no-console": "warn",
    "require-jsdoc": "off",
    "no-unused-vars": "warn"
  }
}
