{
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": ["google", "prettier", "plugin:react/recommended"],
  "plugins": ["import", "prettier"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2022
  },
  "rules": {
    "prettier/prettier": "error",
    "no-console": "warn",
    "require-jsdoc": "off",
    "no-unused-vars": "warn",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off"
  }
}
